// 颜色定义规范
$color-background-theme = #fff
$color-background-text-theme = #f7f9fa
$color-font-theme = #409EFF
$color-font-gray = #707070
$color-font-text = #263238
$color-font-text-1 = #757575
$font-color = #000
$color-border-light = rgb(238, 238, 238)

//字体定义规范
$font-size-small = 12px
$font-size-regular = 14px
$font-size-regular-x = 15px
$font-size-regular-m = 16px
$font-size-medium = 18px
$font-size-medium-x = 20px
$font-size-medium-m = 22px
$font-size-large = 24px
$font-size-large-x = 28px
$font-size-large-m = 32px
$font-size-max = 40px
$font-size-max-x = 50px
$font-size-max-m = 60px

// 常用宽度
$page-min-width = 935px
$body-center-width = 85%

// z-index
$z-index-regular = 200

// 阴影
$box-shadow-1 = 0 2px 12px 0 rgba(0, 0, 0, 0.1)
$box-shadow-2 = 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)